<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django ORM</title>
</head>
<body>
    {% if posts %}
        <h4>Using "Q" objects together with the "|" symbol as OR</h4>
        <p>{{posts}}</p>
    {% endif %}

    {% if not_posts %}
        <h4>Using tilde symbol "~" as not together with the "Q" object</h4>
        <p>{{not_posts}}</p>
    {% endif %}

    {% if and_post %}
        <h4>Using "Q" objects together with the "&" symbol as AND</h4>
        <p>{{and_post}}</p>
    {% endif %}

    {% if union_post %}
        <h4>Using "Union" to combine results from two select query</h4>
        <p>{{union_post}}</p>
    {% endif %}

    {% if not_post %}
        <h4>Using tilde symbol "~" as not together with the "Q" object</h4>
        <p>{{not_post}}</p>
    {% endif %}

    {% if select_post %}
        <h4>Using "only" to get specific fields</h4>
         {% for i in select_post %}
            <div>{{ i.firstname }} - {{ i.age }}</div>
        {% endfor %}
    {% endif %}

    {% if raw_post %}
        <h4>Using "raw" to perform raw SQL queries</h4>
        {% for i in raw_post %}
            <div>{{ i }}</div>
        {% endfor %}
    {% endif %}

    {% if raw_sql_count %}
        <h4>Performing raw SQL queries without using ORM</h4>
        <p>{{raw_sql_count}}</p>
    {% endif %}

    {% if raw_sql_count %}
        {% for i in raw_sql_count %}
            <div>{{ i.firstname }} - {{ i.age }}</div>
        {% endfor %}
    {% endif %}

    {% if all_student %}
        <form action="{% url 'student:student_data_atomic' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="studentone">Name:</label>
                <input type="text" id="studentone" maxlength="20" name="studentone" value="{{ studentone }}" required>
            </div>
            <div class="mb-3">
                <label for="studenttwo">Name:</label>
                <input type="text" id="studenttwo" maxlength="20" name="studenttwo" value="{{ studenttwo }}" required>
            </div>
            <div class="mb-3">
                <label for="classroom">Classroom:</label>
                <input type="number" id="classroom" name="classroom" value="{{ classroom }}" required>
            </div>
            <div class="text-center">
                <input type="submit" value="Save">
            </div>
        </form>

        {% for i in all_student %}
            <div>{{ i.firstname }} {{ i.surname }} - Classroom {{ i.classroom }}</div>
        {% endfor %}
    {% endif %}

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if product_data %}
        <h4>The total of all products is {{ product_data.total }}</h4>
        <h4>The lowest price is {{ product_data.mini }}</h4>
        <h4>The highest price is {{ product_data.maxi }}</h4>
        <h4>The average price is {{ product_data.aveg }}</h4>
    {% endif %}
</body>
</html>


